<ion-view>
	<ion-nav-title>Nossos Bolos</ion-nav-title>
	<ion-content>
		<ion-list>
			<ion-item ng-repeat="bolo in bolos">
				<h2>{{bolo.nome}}</h2>
				<p>{{bolo.preco}}</p>
			</ion-item>			
		</ion-list>
	</ion-content>
</ion-view>